@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 999;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'BabasNeue-Regular';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  html {
    font-family: Urbanist, sans-serif, system-ui;
    scroll-behavior: smooth;
  }
}
